.circular-text {
  margin: 0 auto;
  border-radius: 50%;
  width: 200px;
  position: relative;
  height: 200px;
  font-weight: bold;
  color: #000000;
  font-weight: 900;
  text-align: center;
  cursor: pointer;
  transform-origin: 50% 50%;
  -webkit-transform-origin: 50% 50%;
}

.circular-text span {
  position: absolute;
  display: inline-block;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  font-size: 24px;
  transition: all 0.5s cubic-bezier(0, 0, 0, 1);
}

.circular-text {
  position: relative;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  cursor: pointer;
  background: transparent;
  border: none;
  display: block;
}

/* вращающийся слой */
.circular-text-rotating {
  position: absolute;
  inset: 0;
}

/* центр */
.circular-text-center {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
}

/* плюс */
.plus {
  position: relative;
  width: 60px;
  height: 60px;
}

.plus-line {
  position: absolute;
  background: #00000064;
}

.plus-line.vertical {
  width: 0.5px;
  height: 60px;
  left: 50%;
  transform: translateX(-50%);
}

.plus-line.horizontal {
  height: 0.5px;
  width: 60px;
  top: 50%;
  transform: translateY(-50%);
}

/* 
.circular-text::before {
  content: '';
  position: absolute;
  inset: -10px;
  border-radius: 50%;
  background: radial-gradient(
    circle,
    rgba(132,0,255,0.4) 0%,
    rgba(132,0,255,0.2) 40%,
    transparent 70%
  );
  filter: blur(30px);
  opacity: 0;
  transition: opacity 0.2s ease;
  z-index: -1;
}

.circular-text:hover::before {
  opacity: 1;
} */
/* @keyframes glowPulse {
  0% { transform: scale(1); }
  50% { transform: scale(1.03); }
  100% { transform: scale(1); }
}

.circular-text:hover {
  animation: glowPulse 2s ease-in-out infinite;
} */
